<!DOCTYPE html>
<html>
<head>
	<title>BUS BOOK</title>
	<meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Googlefont-->
   <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
     <!--font-awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
     
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
    <link rel="stylesheet" href="/styles.css">
    
</head>

<body>
    
    <section>
   <div class="container"  >
       <nav class="navbar navbar-expand-lg navbar-light  " >
            <img id="ig" src="logo.png" style="height: 75px;border-radius: 50%;">
                <a class="navbar-brand" href="#" style="font-size:2.0rem; color:white;font-family: coiny;" >Tours & Travels</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo2">
                 <span class="navbar-toggler-icon"></span>
                 </button>
                  <div class="collapse navbar-collapse" id="navbarTogglerDemo2" style='font-family:Courier New;font-weight:bold;font-size:20px;'>
                      <ul class="navbar-nav ml-auto" >
                            <li class="nav-item" style="padding:10px 18px 18px 0px;" >
                                 <a class="nav-link" href="/" style="color:white;">Home</a>
                            </li>
                             
                             <li class="nav-item" style="padding:10px 18px 18px 0px;" >
                                 <a class="nav-link" href="/about" style="color:white;">About Us</a>
                            </li>

                             <li class="nav-item" style="padding:10px 18px 18px 0px;" >
                                 <a class="nav-link" href="/contact" style="color:white;">Contact</a>
                            </li>

                            <li class="nav-item" style="padding:10px 18px 18px 0px;" >
                                 <a class="nav-link" href="/cabpage" style="color:white;">Cab_Book</a>
                            </li>

                             <li class="nav-item" style="padding:10px 18px 18px 0px;" >
                                 <a class="nav-link" href="/services" style="color:white;">Services</a>
                            </li>
                                  
                                   
                                 </ul>
                           </div>
                   </nav>
     </div>


</section>


<section class='about-page-top-section'>
   <div class='row'>
     <div class='col-lg-6' style='background-color: orange'>
        <img src='three.jpg' class='img-fluid' >
     </div>
      <div class='col-lg-6 about-wrap' >
        <h4 style='margin-top:50px;font-size: 20px;'> Get Instant Call Right Now</h4>
        <p style='font-family: Courier New;color:white;'><img src='call.jpg' class='img-fluid' style='width: 50px;height: 50px;border-radius: 50%;'>7004155914</p>
     </div>
   </div>
</section>






<section class='container' style='margin-top:50px;'>
    <div class='row'>

         <div class='col-lg-6'>
            <div class='contact-head'>Get in Touch With Us</div></br>
            
            <div style='color:white;font-weight: bold;font-size: 20px;'>  <img src='loc.jpg' class='img-fluid' style='width: 50px;height: 50px;border-radius: 50%;'>  Satya Travels</div>
            <div style='color:white;margin-left: 45px;'>West Collecteriate Road buxar</div>
             <div style='color:white;margin-left: 45px;'>Gajadhar Ganj,Bihar</div>


             </br> </br>
             <div style='color:white;font-weight: bold;font-size: 20px;'>  <img src='call2.jpg' class='img-fluid' style='width: 50px;height: 50px;border-radius: 50%;'> Contact Detail</div>
            <div style='color:white;margin-left: 55px;'>7004155914</div>


             </br> </br>
             <div style='color:white;font-weight: bold;font-size: 20px;'>  <img src='email.jpg' class='img-fluid' style='width: 50px;height: 50px;border-radius: 50%;'> Email Detail</div>
            <div style='color:white;margin-left: 55px;'>jeesatyapal@gmail.com</div>
             

         </div>

         <div class='col-lg-6'>
              <div class='contact-head'>E payment Related Issue</div></br>

              <div style='color:white;font-weight: bold;font-size: 20px;'>  <img src='call2.jpg' class='img-fluid' style='width: 50px;height: 50px;border-radius: 50%;'> Contact Detail</div>
             <div style='color:white;margin-left: 55px;'>1234567890</div>

             </br> </br>
             <div style='color:white;font-weight: bold;font-size: 20px;'>  <img src='email.jpg' class='img-fluid' style='width: 50px;height: 50px;border-radius: 50%;'> Email Detail</div>
            <div style='color:white;margin-left: 55px;'>prempaljee111@gmail.com</div>
         </div>
    </div>
</section>






<section style='margin-top:40px;'>
  <div class='container-fluid'> 
<div class="panel-group" id="accordion" style='background:rgba(0,0,0,0.5);'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" style='font-family: Courier New;color:white;font-weight: bold;' >
        Jamshedpur</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
  <div class="panel panel-default" style='background-color: white;padding: 0.5% 3%'>
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" style='font-family: Courier New;color:black;font-weight: bold;'>
        Buxar</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
  <div class="panel panel-default" >
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" style='font-family: Courier New;color:white;font-weight: bold;'>
       Varanasi</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
</div>
</div>
</section>



<section style='background-color: orange;margin-top:0px;padding: 10px 20px;'>
  <div class="container">
    
      <div style="text-align: center;font-size: 30px;font-family: Courier New;font-weight: bold;">Wish you a Happy and Comfortable Journey</div>
   
  </div>
</section>


<%-include('footer')-%>

</body>
</html>
