<!DOCTYPE html>
<html>
<head>
	<title>BUS BOOK</title>
	<meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Googlefont-->
   <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
     <!--font-awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
     
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
</head>

<body style='background-color:rgb(0, 51, 0);'>

    <section id='navigate'>
   <div class="container"  style='padding: 0.5% 7%'>
       <nav class="navbar navbar-expand-lg navbar-light  " >
            <img id="ig" src="logo.png" style="height: 75px;border-radius: 50%;">
                <a class="navbar-brand" href="#" style="font-size:2.0rem; color:white;font-family: coiny;" >Tours & Travels</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo2">
                 <span class="navbar-toggler-icon"></span>
                 </button>
                  <div class="collapse navbar-collapse" id="navbarTogglerDemo2" style='font-family:Courier New;font-weight:bold;font-size:20px;'>
                      <ul class="navbar-nav ml-auto" >
                            <li class="nav-item" style="padding:10px 18px 18px 0px;" >
                                 <a class="nav-link" href="/" style="color:white;">Home</a>
                            </li>
                             
                             <li class="nav-item" style="padding:10px 18px 18px 0px;" >
                                 <a class="nav-link" href="/about" style="color:white;">About Us</a>
                            </li>

                             <li class="nav-item" style="padding:10px 18px 18px 0px;" >
                                 <a class="nav-link" href="/contact" style="color:white;">Contact</a>
                            </li>

                             <li class="nav-item" style="padding:10px 18px 18px 0px;" >
                                 <a class="nav-link" href="/features" style="color:white;">Features</a>
                            </li>

                             <li class="nav-item" style="padding:10px 18px 18px 0px;" >
                                 <a class="nav-link" href="/services" style="color:white;">Services</a>
                            </li>
                                  
                                   
                                 </ul>
                           </div>
                   </nav>
     </div>


</section>



<section id='registrationsection'>
  <div class='regist' style='margin-top:0px;'>
       <div class='row'>
             <div class='col-lg-4' style='text-align: center;margin-top:20px;'>
                <img src='arrow.jpg' style='height: 50px;width: 70px;border-radius: 70%;'>
                <div style='margin-top:20px;color:white;font-weight: bold;font-size: 25px;'>Subscribe Us</div>
                 <div style='margin-top:20px;color:white;font-size: 15px;'>Subscribe us to get notification about our </div>
                 <div style='margin-top:0px;color:white;font-size: 15px;'> schedules and offers</div>
                 <div style='margin-top:30px;'>
                    <button class='btn btn-danger' id="btn1" >subscribe Now</button>
                 </div>
             </div>

              <div class='col-lg-8 container'  style='background-color: rgb(153, 153, 102);'>
                   <div class='custom-register col-xs-8' style='background-color: rgb(153, 153, 102); text-align: center;margin-left:20%'>
                    <img src='parrot.jpg' style='margin-top: 10px; width: 80px;height: 80px;border-radius: 50%;'>
                    <h5 style='font-weight: bold;'>Register Here</h5>
                      <form style='margin-top:30px;text-align: center; '>
                           <div class="input-container">
                               <i class="fa fa-user icon"></i>
                                <input class="input-field" type="text" placeholder="Username" name="username" id="username" required autofocus>
                           </div>

                           <div class="input-container">
                               <i class="fa fa-envelope icon"></i>
                                <input class="input-field" type="email" placeholder="Email" name="email" id="email" required autofocus>
                           </div>

                           <div class="input-container">
                               <i class="fa fa-address-book icon"></i>
                                <input class="input-field" type="text" placeholder="Address" name="address" id="address" required autofocus>
                           </div>

                           

                           <div class="input-container">
                               <i class="fa fa-key icon"></i>
                                <input class="input-field" type="text" placeholder="Password" name="password" id="password" required autofocus>
                                <p id="demo" style='color:red'></p>
                           </div>

                           <div class="input-container" style='text-align: center;'>
                              <center>
                                <button class='btn btn-success' id='btn2' onclick="customerRegister()">Register</button>
                             </center>
                           </div>
                      </form>
                        
                    </div>    
             </div>
       </div>
  </div>  

 </section> 








 <script>
   
 

    function customerRegister()
    {
      username=$("#username").val();
      email=$("#email").val();
      address=$("#address").val();
      password=$("#password").val();
      
      /*validation*/
      if(password.length <8)
      {
        //document.getElementById("demo").innerHTML="Your password is too weak!!!!";
        alert("Your password is too weak!!! kindly enter strong password");
        return false;
        
      }
       

    $.post('/customer_register',{username:username,email:email,address:address,password:password},function(data){
            if(data==='present')
            {
              alert('This Email Has Already Been Taken');
              return false;
            }
            if(data==='success')
            {
               window.location.href='/firstverify';
            }
      })
    }
 </script>




</body>
</html>


<!--<section id='emailnotice' style='margin-top: 150px;'>
    <div style="width:800px; margin:0 auto;background-color:rgb(255, 153, 0); ">
        <div class='veri-notice'>Verification Notice</div><hr width="75%">
        <div id='info'>Satya Tours & Travels welcomes you on joining with us. </div>
        <div id='info'>Kindly check your email . An one time password has been sent . If you have not recieved then Register again.
        It may be possible that email may not have sended due to server problem. For that satya travel appolizes.
       </div></br>
       <div id='info' style='font-weight: bold;'>Plz verify before login </div>
      </br></br>
      <center><button class='btn btn-primary' style='padding: 2px 40px;background-color: rgb(0, 0, 204);'>back</button></center>
    </div>
</section>-->